contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/AtributosContrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/organizacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/organizacion">
    <xsd:element name="AtributosContrato" type="tns:atributoContratoType"/>
    <xsd:complexType name="atributoContratoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tipo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
