contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/AtributosPersona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/persona" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/persona">
    <xsd:element name="AtributosPersona" type="tns:atributoPersonaType"/>
    <xsd:complexType name="atributoPersonaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tipo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
