contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Ciudad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/ubicacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/ubicacion">
    <xsd:annotation>
        <xsd:documentation>Canonico que representa el concepto de Ciudad en el
			negocio OSI
		</xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="Departamento.xsd"/>
    <xsd:element name="Ciudad" type="tns:ciudadType"/>
    <xsd:complexType name="ciudadType">
        <xsd:sequence>
            <xsd:element name="codigo" type="tns:codigoCiudadType"/>
            <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="departamento" type="tns:departamentoType"/>
            <xsd:element minOccurs="0" name="codigoLocalizacion" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoCiudadType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
