contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Contrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://colsanitas.com/osi/comun" xmlns:df="http://colsanitas.com/osi/comun/definicionesfuncionales" xmlns:tns="http://colsanitas.com/osi/comun/organizacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/organizacion">
    <xsd:import namespace="http://colsanitas.com/osi/comun/definicionesfuncionales" schemaLocation="DefinicionesFuncionales.xsd"/>
    <xsd:include schemaLocation="Plan.xsd"/>
    <xsd:include schemaLocation="Oficina.xsd"/>
    <xsd:include schemaLocation="Compania.xsd"/>
    <xsd:include schemaLocation="Familia.xsd"/>
    <xsd:include schemaLocation="AtributosContrato.xsd"/>
    <xsd:element name="Contrato" type="tns:contratoType"/>
    <xsd:complexType name="contratoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="numero" type="tns:numeroContratoType"/>
            <xsd:element minOccurs="0" name="tipo" type="df:tipoType"/>
            <xsd:element minOccurs="0" name="compania" type="tns:companiaType"/>
            <xsd:element minOccurs="0" name="plan" type="tns:planType"/>
            <xsd:element minOccurs="0" name="estado" type="df:estadoType"/>
            <xsd:element minOccurs="0" name="motivo" type="df:motivoType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="familia" type="tns:familiaType"/>
            <xsd:element minOccurs="0" name="fechaInicio" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="fechaProxRenovacion" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="oficinaRadicacion" type="tns:codigoOficinaType"/>
            <xsd:element minOccurs="0" name="atributosContrato" type="tns:atributoContratoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="numeroContratoType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
