contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Departamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/ubicacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/ubicacion">
    <xsd:include schemaLocation="Region.xsd"/>
    <xsd:include schemaLocation="Pais.xsd"/>
    <xsd:element name="Departamento" type="tns:departamentoType"/>
    <xsd:complexType name="departamentoType">
        <xsd:sequence>
            <xsd:element name="codigo" type="tns:codigoDepartamentoType"/>
            <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="region" type="tns:regionType"/>
            <xsd:element minOccurs="0" name="pais" type="tns:paisType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoDepartamentoType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
