contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/EntidadFinanciera.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ident="http://colsanitas.com/osi/comun/persona" xmlns:tns="http://colsanitas.com/osi/recaudo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/recaudo">
    <xsd:import namespace="http://colsanitas.com/osi/comun/persona" schemaLocation="Identificacion.xsd"/>
    <xsd:element name="entidadFinanciera" type="tns:entidadFinanType"/>
    <xsd:complexType name="entidadFinanType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codigo" type="tns:codigoEntidadFinType"/>
            <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
            <xsd:element minOccurs="0" name="comision" type="xsd:string"/>
            <xsd:element name="identificacion" type="ident:identificacionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoEntidadFinType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
