contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Estacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/recaudo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/recaudo">
    <xsd:element name="codigoEstacion" type="tns:estacionType"/>
    <xsd:complexType name="estacionType">
        <xsd:sequence>
            <xsd:element name="Codigo" type="tns:codigoEstacionType"/>
            <xsd:element minOccurs="0" name="DireccionFisica" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Nombre" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Tipo" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoEstacionType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
