contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/MedioPago.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q2="http://colsanitas.com/osi/comun/organizacion" xmlns:tns="http://colsanitas.com/osi/recaudo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/recaudo">
    <xsd:import namespace="http://colsanitas.com/osi/comun/organizacion" schemaLocation="Precio.xsd"/>
    <xsd:include schemaLocation="EntidadFinanciera.xsd"/>
    <xsd:element name="medioPago" type="tns:medioPagoType"/>
    <xsd:complexType name="medioPagoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tipoMedio" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codigoEntFinanciera" type="tns:codigoEntidadFinType"/>
            <xsd:element minOccurs="0" name="numeroTarjeta" type="xsd:string"/>
            <xsd:element minOccurs="0" name="numeroAprobacion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valor" type="Q2:precioType"/>
            <xsd:element minOccurs="0" name="impuestoTarjeta" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
