contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:td="http://colsanitas.com/osi/comun/tiposdedato" xmlns:tns="http://colsanitas.com/osi/comun/persona" xmlns:ub="http://colsanitas.com/osi/comun/ubicacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/persona">
    <xsd:import namespace="http://colsanitas.com/osi/comun/tiposdedato" schemaLocation="Boolean.xsd"/>
    <xsd:import namespace="http://colsanitas.com/osi/comun/ubicacion" schemaLocation="Ciudad.xsd"/>
    <xsd:include schemaLocation="Nombre.xsd"/>
    <xsd:include schemaLocation="Identificacion.xsd"/>
    <xsd:include schemaLocation="AtributosPersona.xsd"/>
    <xsd:element name="Persona" type="tns:personaType"/>
    <xsd:complexType name="personaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="identificacion" type="tns:identificacionType"/>
            <xsd:element minOccurs="0" name="digitoVerificacion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nombre" type="tns:nombreCompletoType"/>
            <xsd:element minOccurs="0" name="fechaNacimiento" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="genero" type="tns:generoType"/>
            <xsd:element minOccurs="0" name="tipoPersona" type="xsd:string"/>
            <xsd:element minOccurs="0" name="estadoCivil" type="xsd:string"/>
            <xsd:element minOccurs="0" name="estudiante" type="td:booleanType"/>
            <xsd:element minOccurs="0" name="discapacitado" type="td:booleanType"/>
            <xsd:element minOccurs="0" name="supervivencia" type="td:booleanType"/>
            <xsd:element minOccurs="0" name="municipioNacimiento" type="ub:codigoCiudadType"/>
            <xsd:element minOccurs="0" name="grupoSanguineo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="factorRH" type="xsd:string"/>
            <xsd:element minOccurs="0" name="talla" type="xsd:string"/>
            <xsd:element minOccurs="0" name="peso" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="atributos" type="tns:atributoPersonaType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoPersonaType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="generoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="H"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
