contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://colsanitas.com/osi/comun/definicionesfuncionales" xmlns:tns="http://colsanitas.com/osi/comun/organizacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/organizacion">
    <xsd:annotation>
        <xsd:documentation>Representa el concepto de Compañia en OSI </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://colsanitas.com/osi/comun/definicionesfuncionales" schemaLocation="DefinicionesFuncionales.xsd"/>
    <xsd:element name="Plan" type="tns:planType"/>
    <xsd:complexType name="planType">
        <xsd:sequence>
            <xsd:element name="codigo" type="tns:codigoPlanType"/>
            <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tipo" type="Q1:tipoType"/>
            <xsd:element minOccurs="0" name="fechaUltimaActualizacion" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="codigoPlanType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
