contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Precio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/organizacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/organizacion">
    <xs:element name="Precio" type="tns:precioType"/>
    <xs:complexType name="precioType">
        <xs:sequence>
            <xs:element minOccurs="0" name="valorTotal" type="xs:string"/>
            <xs:element minOccurs="0" name="valorImpuesto" type="xs:string"/>
            <xs:element minOccurs="0" name="valorNeto" type="xs:string"/>
            <xs:element minOccurs="0" name="valorDescuento" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
