contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/StandarRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/nofuncionales" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/nofuncionales">
    <xsd:include schemaLocation="Definiciones.xsd"/>
    <xsd:complexType name="AuthenticationHeader">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="userToken" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RequestHeader">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="messageHeader" type="tns:MessageHeader"/>
            <xsd:element name="user" type="tns:AuthenticationHeader"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestHeader" type="tns:RequestHeader"/>
</xsd:schema>
