contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/StandarResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/comun/nofuncionales" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/nofuncionales">
    <xsd:include schemaLocation="Definiciones.xsd"/>
    <xsd:complexType name="ResponseHeader">
        <xsd:sequence>
            <xsd:element name="messageHeader" type="tns:MessageHeader"/>
            <xsd:element name="responseStatus" type="tns:ResponseStatus"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ResponseHeader" type="tns:ResponseHeader"/>
</xsd:schema>
