contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/TiraAuditora.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://colsanitas.com/osi/recaudo/TiraAuditora" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/recaudo/TiraAuditora">
    <xsd:element name="tira_auditora" type="tns:tiraAuditoraType"/>
    <xsd:complexType name="tiraAuditoraType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="texto_tiraAudit" type="tns:textoTiraAuditType"/>
            <xsd:element minOccurs="0" name="URL" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="textoTiraAuditType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
