contabilizacionpines-web/src/main/webapp/WEB-INF/services/ContabilizacionPines/META-INF/Usuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:df="http://colsanitas.com/osi/comun/definicionesfuncionales" xmlns:tns="http://colsanitas.com/osi/comun/organizacion" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://colsanitas.com/osi/comun/organizacion">
    <xsd:import namespace="http://colsanitas.com/osi/comun/definicionesfuncionales" schemaLocation="DefinicionesFuncionales.xsd"/>
    <xsd:complexType name="usuarioType">
        <xsd:sequence>
            <xsd:element name="numero" type="tns:numeroUsuarioType"/>
            <xsd:element minOccurs="0" name="estado" type="df:estadoType"/>
            <xsd:element minOccurs="0" name="motivo" type="df:motivoType"/>
            <xsd:element minOccurs="0" name="rolContrato" type="df:rolType"/>
            <xsd:element minOccurs="0" name="parentesco" type="df:parentescoType"/>
            <xsd:element minOccurs="0" name="eps" type="df:epsType"/>
            <xsd:element minOccurs="0" name="fechaInicioAfiliacion" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="fechaCancelacion" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="fechaInicioSusp" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="fechaFinSusp" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="numeroUsuarioType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="Usuario" type="tns:usuarioType"/>
</xsd:schema>
